<md-button-toggle-group #selectedColor="mdButtonToggleGroup" (change)="selectColor(selectedColor)">
  <md-button-toggle value="null" checked="true">
    <svg height="40" width=60>
      <circle cx="15" cy="20" r="10" stroke="#bdc3c7" stroke-width="1" fill="#ffffff"></circle>
    </svg>
  </md-button-toggle>
  <md-button-toggle value="#2ecc71">
    <svg height="40" width=60>
      <circle cx="15" cy="20" r="10" stroke="#27ae60" stroke-width="1" fill="#2ecc71"></circle>
    </svg>
  </md-button-toggle>
  <md-button-toggle value="#3498db">
    <svg height="40" width=60>
      <circle cx="15" cy="20" r="10" stroke="#2980b9" stroke-width="1" fill="#3498db"></circle>
    </svg>
  </md-button-toggle>
  <md-button-toggle value="#f1c40f">
    <svg height="40" width=60>
      <circle cx="15" cy="20" r="10" stroke="#f39c12" stroke-width="1" fill="#f1c40f"></circle>
    </svg>
  </md-button-toggle>
  <md-button-toggle value="#e74c3c">
    <svg height="40" width=60>
      <circle cx="15" cy="20" r="10" stroke="#c0392b" stroke-width="1" fill="#e74c3c"></circle>
    </svg>
  </md-button-toggle>
  <md-button-toggle value="#34495e">
    <svg height="40" width=60>
      <circle cx="15" cy="20" r="10" stroke="#2c3e50" stroke-width="1" fill="#34495e"></circle>
    </svg>
  </md-button-toggle>
</md-button-toggle-group>
