<md-card class="form">
  <form class="form" #registrationForm="ngForm" novalidate (ngSubmit)="registrationForm.form.valid && register()">

    <md-input-container class="full-width">
      <input mdInput placeholder="Username" [(ngModel)]="user.username" required #username="ngModel" name="username">
      <md-hint *ngIf="registrationForm.submitted && !username.valid" align="center">Username is required</md-hint>
    </md-input-container>

    <md-input-container class="full-width">
      <input type="password" mdInput minlength="5"
             required #password="ngModel" placeholder="Password" [(ngModel)]="user.password" name="password">
      <md-hint *ngIf="!password.valid && registrationForm.submitted" align="end">Password too short</md-hint>
    </md-input-container>

    <md-placeholder>
      <br>
      <md-hint *ngIf="error" align="right" class="error">{{error}}</md-hint>
    </md-placeholder>
    <div style="padding-top: 15%" align="right">
      <md-placeholder>
        <button [disabled]="loading" md-button style="background-color: cornflowerblue;">Register</button>
      </md-placeholder>
    </div>
  </form>
</md-card>
