<md-sidenav-container>
  <md-sidenav #sideNav>
    <app-post-add *ngIf="sideNavId === 0" (postClick)="addPost($event)"></app-post-add>
    <app-board-list *ngIf="sideNavId === 1" (openBoardClick)="openBoard($event)"></app-board-list>
  </md-sidenav>
  <div *ngIf="showedPosts.length > 0" id="post-container">
    <div *ngFor="let post of showedPosts" class="div-card">
      <app-small-post [post]="post" (pinPost)="pinPost(post)" (removePost)="removePost(post)"></app-small-post>
    </div>
  </div>
</md-sidenav-container>
