#post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.div-card {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#color-chooser {
  padding: 10px;
}

@media screen and (min-width: 0px) {
  .div-card {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .div-card {
    width: 50%;
  }
}

@media screen and (min-width: 1500px) {
  .div-card {
    width: 33%;
  }
}

@media screen and (min-width: 2000px) {
  .div-card {
    width: 25%;
  }
}

.card {
  width: 30%;
}

/*md-sidenav-container {*/
  /*top: 64px !important;*/
/*}*/

md-sidenav-container {
  height: calc(100vh - 64px);
}

md-sidenav {
  width: 400px;
  padding-left: 5px;
  padding-right: 5px;
}
