.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.button-text {
  vertical-align: middle;
}

.div-card {
  padding-left: 1%;
}

.fill-space {
  flex: 1 1 auto;
}

md-toolbar {
  background-color: #ecf0f1;
}
