<md-toolbar>
  <button md-button (click)="refresh()">PostBoard</button>
  <div class="div-card">
    <button md-button="" (click)="newPost()">
      <md-icon>add</md-icon>
      <span class="button-text">Add post</span>
    </button>
  </div>
  <div class="div-card">
    <button md-button="" (click)="boards()">
      <md-icon>credit_card</md-icon>
      <span class="button-text">Boards</span>
    </button>
  </div>
  <span class="fill-space"></span>
  <div id="color-chooser">
    <app-color-chooser (colorSelect)="filterByColor($event)"></app-color-chooser>
  </div>
  <span style="margin-right: 20px">{{username}}</span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="logout()">
      <span>Log out</span>
    </button>
  </md-menu>
</md-toolbar>
