<div>
  <div #root>
    <app-toolbar *ngIf="isSignedIn()"></app-toolbar>
    <router-outlet  class="view" *ngIf="isSignedIn()"></router-outlet>
    <app-main-view *ngIf="!isSignedIn()"></app-main-view>
  </div>
</div>
