<md-card class="form">
  <form class="form" #loginForm="ngForm" novalidate (ngSubmit)="loginForm.form.valid && login()">
    <md-input-container class="full-width">
      <input mdInput placeholder="Username" [(ngModel)]="user.username" required #username="ngModel" name="user">
      <md-hint *ngIf="loginForm.submitted && !username.valid" align="center">Username is required</md-hint>
    </md-input-container>

    <md-input-container class="full-width">
      <input type="password" mdInput minlength="5" required #password="ngModel" placeholder="Password"
             [(ngModel)]="user.password" name="password">
      <md-hint *ngIf="!password.valid && loginForm.submitted" align="end">Password too short</md-hint>
    </md-input-container>

    <button [disabled]="loading" md-button style="background-color: cornflowerblue;">Login</button>
    <br>
    <md-hint *ngIf="error" align="center" class="error">{{error}}</md-hint>
  </form>
</md-card>
