<md-card class="login-register">
  <span>
    <b>PostBoard</b>
  </span>
  <br>
  <button md-button (click)="login()"><b>Login</b></button>
  <br>
  <button md-button (click)="register()"><b>Register</b></button>
</md-card>
