.login-register {
  width: 300px;
  margin: 15% auto 0 auto;
  height: 200px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: cornflowerblue;
  font-size: large;
  width: 90%;
  height: 45%;
}

span {
  font-size: x-large;
}
