<md-card class="card" (click)="openPostView()">
  <md-card-header>
    <md-card-title>{{user.username}}</md-card-title>
    <md-card-subtitle>{{post.createdAt | date: "MMMM dd 'at' HH:mm"}}</md-card-subtitle>
    <svg *ngIf="this.post.color" height="40" width=60>
      <circle id="color-tag" cx="15" cy="20" r="10" [attr.fill]="this.post.color"></circle>
    </svg>
    <button id="pin" md-button (click)="pin()">
      <md-icon *ngIf="post.isPinned" title="Unpin">label</md-icon>
      <md-icon *ngIf="!post.isPinned" title="Pin">label_outline</md-icon>
    </button>
  </md-card-header>
  <div class="link" *ngIf="post.link">
    <div *ngIf="isImage()">
      <img md-card-image id="content-image" [src]="post.link">
    </div>
    <div *ngIf="!isImage()">
      <a id="content-link" [href]="post.link" target="_blank">{{post.link}}</a>
    </div>
    <br>
  </div>
  <md-card-content>
    <p>{{post.title}}</p>
  </md-card-content>

  <md-card-actions (click)="$event.stopPropagation()">
    <br>
    <button md-button (click)="like()" title="Like" [disabled]="isLiked()">
      <i class="material-icons">arrow_upward </i>
    </button>
    <span id="rating">{{getRating()}}</span>
    <button md-button (click)="dislike()" title="Dislike" [disabled]="isDisliked()">
      <i class="material-icons">arrow_downward</i>
    </button>
    <button md-button (click)="comment()" title="Comment">
      <md-icon>comment</md-icon>
    </button>
    <button md-button title="Delete" (click)="deletePost()">
      <md-icon>delete</md-icon>
    </button>
  </md-card-actions>
</md-card>
