.card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.header-image {
  background-image: url('https://cdn.pixabay.com/photo/2014/04/03/10/32/businessman-310819_960_720.png');
  background-size: cover;
  width: 40px;
  height: 40px;
}

#emotion-selection {
  position: absolute;
  z-index: 2;
  bottom: 20%;
  right: 25%;
}

#pin {
  position: absolute;
  right: 10px;
  padding: 10px;
}

.post-info {
  margin-left: auto;
  display: inline-block;
  color: #757575;
}

.reactions {
  width: 5%;
}

#comments {
  padding-left: 3%;
}

md-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

md-card-actions {
  margin-top: auto;
  align-self: center;
}

md-card-header {
  margin-bottom: 25px;
}

#content-image {
  padding: 20px 0 0;
  max-height: 50vh;
}

#content-link {
  color: blue;
}

md-card-content a, md-card-content a, .link a, .link a {
  word-wrap: break-word;
}

