#preview {
  visibility: hidden;
  margin-top: 100px;
}

#preview-label {
  font-weight: bold;
}

#file-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#file-upload-icon {
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.full-width {
  box-sizing: border-box;
  width: 100%;
}

app-color-chooser {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 20px;
}

textarea {
  resize: vertical;
}

.link-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.link-container md-checkbox {
  margin-right: 20px;
}

.link-container .link-input {
  flex-grow: 1;
}

form > * {
  margin-bottom: 20px;
}

.right-align {
  display: flex;
  flex-direction: row-reverse;
}
