<form #postInputForm="ngForm">
  <br>
  <app-color-chooser (colorSelect)="selectColor($event)"></app-color-chooser>

  <md-input-container class="full-width">
      <textarea name="title" [(ngModel)]="post.title" [title]="post.title" rows="4" mdInput
                placeholder="Content"></textarea>
  </md-input-container>

  <div class="full-width, link-container">
    <md-checkbox name="link-check-box" align="link" [(ngModel)]="isLinkAdded">Link</md-checkbox>

    <div *ngIf="isLinkAdded">
      <md-input-container class="link-input, full-width">
        <input id="link" name="link" (input)="onLinkChange()" [(ngModel)]="post.link" [title]="post.link" mdInput
               placeholder="Link">
      </md-input-container>
    </div>

    <div *ngIf="isLinkAdded">
      <label for="file-upload">
        <md-icon id="file-upload-icon">file_upload</md-icon>
      </label>
      <input id="file-upload" type="file" accept="image/*" (change)="onFileChange($event)"/>
    </div>
  </div>

  <div class="right-align">
    <button md-button [disabled]="!postInputForm.form.valid" (click)="onPostClick(postInputForm)">Post</button>
    <button md-button (click)="reset()">Reset</button>
  </div>
</form>

<div id="preview">
  <p id="preview-label">Preview:</p>
</div>
