<div id="board-container">
  <md-list>
    <md-list-item>
      <md-expansion-panel class="full-width">
        <md-expansion-panel-header>
          <md-panel-title>
            Create New Board
          </md-panel-title>
        </md-expansion-panel-header>

        <md-input-container>
          <input mdInput #boardName placeholder="Board Name" required>
        </md-input-container>

        <button md-raised-button id="create-new-board-button" (click)="createNewBoard(boardName)">Create New Board
        </button>
      </md-expansion-panel>
    </md-list-item>

    <md-list-item>
      <div>
        <button md-raised-button color="primary" class="width-80" (click)="openMainBoard()">Main Board</button>
      </div>
    </md-list-item>

    <div *ngIf="boards.length > 0">
      <md-list-item *ngFor="let board of boards" class="div-card">
        <hr>
        <button md-raised-button class="width-80" (click)="openBoard(board)">{{board.name}}</button>
        <button md-button class="width-20" title="Delete" (click)="deleteBoard(board)">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </div>
  </md-list>
</div>
